<div class="col-xs-12 col-sm-6 footer-links-wrapper">
    <ul class="list-inline">
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms Of Service</a></li>
        <li><a href="#">Disclaimer</a></li>
    </ul>
</div>
