@*
    @Model.RequestedUrl
    @Model.ReferrerUrl
*@

<div class="col-md-6 pad-25">
    <div class="error404">
        <span>404</span>
    </div>
</div>
<div class="col-md-6 pad-25">
    <div class="details404">
        <h3>We looked everywhere but couldn't find anything...sorry. Please try again!</h3>
        <p>Please try to search to look for more information on this site.</p>
        @using (Html.BeginForm("index", "search", new { area = "Orchard.Search" }, FormMethod.Get, new { @class = "search-form" })) {
            <input name="q" type="text" class="form-control" placeholder="Search ..." />
        }
        <a href="/" class="btn btn-flat btn-rounded flat-color"><i class="fa fa-long-arrow-left"></i>&nbsp;Back to Home</a>
    </div>
</div>

<script type="text/javascript">
    $('#page-title-widget').html('<div class="col-sm-6"><h4>Page Not Found</h4></div>')
</script>
