<section id="example-buttons">
    <div class="row">
        <div class="col-md-6 pad-25">
            <div class="subpage-title">
                <h5>Bootstrap Buttons</h5>
            </div>
            <button type="button" class="btn btn-default">Default Button</button>
            <button type="button" class="btn btn-primary">Primary Button</button>
            <button type="button" class="btn btn-success">Success Button</button>
            <button type="button" class="btn btn-info">Info Button</button>
            <button type="button" class="btn btn-warning">Warning Button</button>
            <button type="button" class="btn btn-danger">Danger Button</button>
            <button type="button" class="btn btn-link">Link Button</button>
        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-6 pad-25">
            <div class="subpage-title">
                <h5>Flat Buttons</h5>
            </div>
            <button type="button" class="btn btn-flat flat-default">Default Button</button>
            <button type="button" class="btn btn-flat flat-primary">Primary Button</button>
            <button type="button" class="btn btn-flat flat-success">Success Button</button>
            <button type="button" class="btn btn-flat flat-info">Info Button</button>
            <button type="button" class="btn btn-flat flat-warning">Warning Button</button>
            <button type="button" class="btn btn-flat flat-danger">Danger Button</button>
            <button type="button" class="btn btn-flat flat-inverse">Inverse Button</button>
        </div>
        <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-6 pad-25">
            <div class="subpage-title">
                <h5>Flat (Rounded) Buttons</h5>
            </div>
            <button type="button" class="btn btn-flat flat-default btn-rounded">Default Button</button>
            <button type="button" class="btn btn-flat flat-primary btn-rounded">Primary Button</button>
            <button type="button" class="btn btn-flat flat-success btn-rounded">Success Button</button>
            <button type="button" class="btn btn-flat flat-info btn-rounded">Info Button</button>
            <button type="button" class="btn btn-flat flat-warning btn-rounded">Warning Button</button>
            <button type="button" class="btn btn-flat flat-danger btn-rounded">Danger Button</button>
            <button type="button" class="btn btn-flat flat-inverse btn-rounded">Inverse Button</button>
        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-6 pad-25">
            <div class="subpage-title">
                <h5>Flat Buttons</h5>
            </div>
            <button type="button" class="btn btn-flat flat-default btn-lg">Large Button</button>
            <button type="button" class="btn btn-flat flat-primary">Default Button</button>
            <button type="button" class="btn btn-flat flat-success btn-sm">Small Button</button>
            <button type="button" class="btn btn-flat flat-info btn-xs">Extra Small Button</button>
        </div>
        <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-6 pad-25">
            <div class="subpage-title">
                <h5>Flat (Bordered) Buttons</h5>
            </div>
            <button type="button" class="btn btn-flat flat-default btn-bordered">Default Button</button>
            <button type="button" class="btn btn-flat flat-primary btn-bordered">Primary Button</button>
            <button type="button" class="btn btn-flat flat-success btn-bordered">Success Button</button>
            <button type="button" class="btn btn-flat flat-info btn-bordered">Info Button</button>
            <button type="button" class="btn btn-flat flat-warning btn-bordered">Warning Button</button>
            <button type="button" class="btn btn-flat flat-danger btn-bordered">Danger Button</button>
            <button type="button" class="btn btn-flat flat-inverse btn-bordered">Inverse Button</button>
        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-6 pad-25">
            <div class="subpage-title">
                <h5>Flat (Rounded + Bordered) Buttons</h5>
            </div>
            <button type="button" class="btn btn-flat flat-default btn-bordered btn-rounded">Default Button</button>
            <button type="button" class="btn btn-flat flat-primary btn-bordered btn-rounded">Primary Button</button>
            <button type="button" class="btn btn-flat flat-success btn-bordered btn-rounded">Success Button</button>
            <button type="button" class="btn btn-flat flat-info btn-bordered btn-rounded">Info Button</button>
            <button type="button" class="btn btn-flat flat-warning btn-bordered btn-rounded">Warning Button</button>
            <button type="button" class="btn btn-flat flat-danger btn-bordered btn-rounded">Danger Button</button>
            <button type="button" class="btn btn-flat flat-inverse btn-bordered btn-rounded">Inverse Button</button>
        </div>
        <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
</section>
<!-- /#example-buttons -->
