<section id="pricing-tables" class="pad-top-25">
    <div class="pad-0">
        <div class="subpage-title">
            <h5>Pricing Tables (3 Columns)</h5>
        </div>
        <div class="row flush">
            <div class="col-md-4">
                <div class="pricing">
                    <div class="p-header">
                        <div class="title">
                            <h4>Basic</h4>
                        </div>
                        <div class="price">
                            <span class="dollar">$</span>
                            <h2>25</h2>
                            <span class="per">/mo</span>
                        </div>
                    </div>
                    <ul class="details">
                        <li><strong>100GB</strong> Disk Storage Space</li>
                        <li><strong>1000</strong> Email Accounts</li>
                        <li><strong>Unlimited</strong> Websites Allowed</li>
                        <li><strong>99.9%</strong> Guaranteed Uptime</li>
                        <li><strong>150+ scripts</strong> Free Software</li>
                        <li><strong>24x7, 365</strong> Customer Support</li>
                    </ul>
                    <div class="p-footer">
                        <a href="#" class="btn btn-flat flat-primary">Purchase Now</a>
                    </div>
                </div>
                <!-- /.pricing -->
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="pricing premium">
                    <div class="p-header">
                        <div class="title">
                            <h4>Premium</h4>
                        </div>
                        <div class="price">
                            <span class="dollar">$</span>
                            <h2>50</h2>
                            <span class="per">/mo</span>
                        </div>
                    </div>
                    <ul class="details">
                        <li><strong>100GB</strong> Disk Storage Space</li>
                        <li><strong>1000</strong> Email Accounts</li>
                        <li><strong>Unlimited</strong> Websites Allowed</li>
                        <li><strong>99.9%</strong> Guaranteed Uptime</li>
                        <li><strong>150+ scripts</strong> Free Software</li>
                        <li><strong>24x7, 365</strong> Customer Support</li>
                    </ul>
                    <div class="p-footer">
                        <a href="#" class="btn btn-flat flat-primary">Purchase Now</a>
                    </div>
                </div>
                <!-- /.pricing -->
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="pricing professional">
                    <div class="p-header">
                        <div class="title">
                            <h4>Professional</h4>
                        </div>
                        <div class="price">
                            <span class="dollar">$</span>
                            <h2>70</h2>
                            <span class="per">/mo</span>
                        </div>
                    </div>
                    <ul class="details">
                        <li><strong>100GB</strong> Disk Storage Space</li>
                        <li><strong>1000</strong> Email Accounts</li>
                        <li><strong>Unlimited</strong> Websites Allowed</li>
                        <li><strong>99.9%</strong> Guaranteed Uptime</li>
                        <li><strong>150+ scripts</strong> Free Software</li>
                        <li><strong>24x7, 365</strong> Customer Support</li>
                    </ul>
                    <div class="p-footer">
                        <a href="#" class="btn btn-flat flat-primary">Purchase Now</a>
                    </div>
                </div>
                <!-- /.pricing -->
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.pad-0 -->
    <div class="pad-0">
        <div class="subpage-title">
            <h5>Pricing Tables (4 Columns)</h5>
        </div>
        <div class="row flush">
            <div class="col-md-3">
                <div class="pricing">
                    <div class="p-header">
                        <div class="title">
                            <h4>Basic</h4>
                        </div>
                        <div class="price">
                            <span class="dollar">$</span>
                            <h2>25</h2>
                            <span class="per">/mo</span>
                        </div>
                    </div>
                    <ul class="details">
                        <li><strong>100GB</strong> Disk Storage Space</li>
                        <li><strong>1000</strong> Email Accounts</li>
                        <li><strong>Unlimited</strong> Websites Allowed</li>
                        <li><strong>99.9%</strong> Guaranteed Uptime</li>
                        <li><strong>150+ scripts</strong> Free Software</li>
                        <li><strong>24x7, 365</strong> Customer Support</li>
                    </ul>
                    <div class="p-footer">
                        <a href="#" class="btn btn-flat flat-primary">Purchase Now</a>
                    </div>
                </div>
                <!-- /.pricing -->
            </div>
            <!-- /.col-md-3 -->
            <div class="col-md-3">
                <div class="pricing premium">
                    <div class="p-header">
                        <div class="title">
                            <h4>Premium</h4>
                        </div>
                        <div class="price">
                            <span class="dollar">$</span>
                            <h2>50</h2>
                            <span class="per">/mo</span>
                        </div>
                    </div>
                    <ul class="details">
                        <li><strong>100GB</strong> Disk Storage Space</li>
                        <li><strong>1000</strong> Email Accounts</li>
                        <li><strong>Unlimited</strong> Websites Allowed</li>
                        <li><strong>99.9%</strong> Guaranteed Uptime</li>
                        <li><strong>150+ scripts</strong> Free Software</li>
                        <li><strong>24x7, 365</strong> Customer Support</li>
                    </ul>
                    <div class="p-footer">
                        <a href="#" class="btn btn-flat flat-primary">Purchase Now</a>
                    </div>
                </div>
                <!-- /.pricing -->
            </div>
            <!-- /.col-md-3 -->
            <div class="col-md-3">
                <div class="pricing professional">
                    <div class="p-header">
                        <div class="title">
                            <h4>Professional</h4>
                        </div>
                        <div class="price">
                            <span class="dollar">$</span>
                            <h2>75</h2>
                            <span class="per">/mo</span>
                        </div>
                    </div>
                    <ul class="details">
                        <li><strong>100GB</strong> Disk Storage Space</li>
                        <li><strong>1000</strong> Email Accounts</li>
                        <li><strong>Unlimited</strong> Websites Allowed</li>
                        <li><strong>99.9%</strong> Guaranteed Uptime</li>
                        <li><strong>150+ scripts</strong> Free Software</li>
                        <li><strong>24x7, 365</strong> Customer Support</li>
                    </ul>
                    <div class="p-footer">
                        <a href="#" class="btn btn-flat flat-primary">Purchase Now</a>
                    </div>
                </div>
                <!-- /.pricing -->
            </div>
            <!-- /.col-md-3 -->
            <div class="col-md-3">
                <div class="pricing ultimate">
                    <div class="p-header">
                        <div class="title">
                            <h4>Ultimate</h4>
                        </div>
                        <div class="price">
                            <span class="dollar">$</span>
                            <h2>99</h2>
                            <span class="per">/mo</span>
                        </div>
                    </div>
                    <ul class="details">
                        <li><strong>100GB</strong> Disk Storage Space</li>
                        <li><strong>1000</strong> Email Accounts</li>
                        <li><strong>Unlimited</strong> Websites Allowed</li>
                        <li><strong>99.9%</strong> Guaranteed Uptime</li>
                        <li><strong>150+ scripts</strong> Free Software</li>
                        <li><strong>24x7, 365</strong> Customer Support</li>
                    </ul>
                    <div class="p-footer">
                        <a href="#" class="btn btn-flat flat-primary">Purchase Now</a>
                    </div>
                </div>
                <!-- /.pricing -->
            </div>
            <!-- /.col-md-3 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.pad-0 -->
</section>
