<div class="service">
    <span class="service-icon">
        <i class="fa fa-android"></i>
    </span>
    <div class="service-details">
        <h4>Mobile Ready</h4>
        <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
    </div>
</div>
