<section id="faqs-details">
    <div class="main">
        <div class="pad-25">
            <div class="subpage-title">
                <h5>Frequently Asked Questions</h5>
            </div>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapse1">Collapsible Group Item #01
                            </a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, ea vis legendos atomorum. Cu vix natum libris equidem, quo invenire tractatos eu, sit ex falli munere. Ex facer efficiantur vis, ut homero labitur facilisi duo, sed at clita iuvaret dolorem. Verterem perfecto maiestatis in sit, ad dicunt accumsan vel, vim corpora perpetua rationibus ex. Ei dicat adipiscing nam.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapse2">Collapsible Group Item #02
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, ea vis legendos atomorum. Cu vix natum libris equidem, quo invenire tractatos eu, sit ex falli munere. Ex facer efficiantur vis, ut homero labitur facilisi duo, sed at clita iuvaret dolorem. Verterem perfecto maiestatis in sit, ad dicunt accumsan vel, vim corpora perpetua rationibus ex. Ei dicat adipiscing nam.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapse3">Collapsible Group Item #03
                            </a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, ea vis legendos atomorum. Cu vix natum libris equidem, quo invenire tractatos eu, sit ex falli munere. Ex facer efficiantur vis, ut homero labitur facilisi duo, sed at clita iuvaret dolorem. Verterem perfecto maiestatis in sit, ad dicunt accumsan vel, vim corpora perpetua rationibus ex. Ei dicat adipiscing nam.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapse4">Collapsible Group Item #04
                            </a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, ea vis legendos atomorum. Cu vix natum libris equidem, quo invenire tractatos eu, sit ex falli munere. Ex facer efficiantur vis, ut homero labitur facilisi duo, sed at clita iuvaret dolorem. Verterem perfecto maiestatis in sit, ad dicunt accumsan vel, vim corpora perpetua rationibus ex. Ei dicat adipiscing nam.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapse5">Collapsible Group Item #05
                            </a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, ea vis legendos atomorum. Cu vix natum libris equidem, quo invenire tractatos eu, sit ex falli munere. Ex facer efficiantur vis, ut homero labitur facilisi duo, sed at clita iuvaret dolorem. Verterem perfecto maiestatis in sit, ad dicunt accumsan vel, vim corpora perpetua rationibus ex. Ei dicat adipiscing nam.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pad-25">
            <div class="subpage-title">
                <h5>Frequently Asked Questions + Contextual Alternatives</h5>
            </div>
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapse6">Collapsible Group Item #06
                            </a>
                        </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, ea vis legendos atomorum. Cu vix natum libris equidem, quo invenire tractatos eu, sit ex falli munere. Ex facer efficiantur vis, ut homero labitur facilisi duo, sed at clita iuvaret dolorem. Verterem perfecto maiestatis in sit, ad dicunt accumsan vel, vim corpora perpetua rationibus ex. Ei dicat adipiscing nam.
                        </div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapse7">Collapsible Group Item #07
                            </a>
                        </h4>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, ea vis legendos atomorum. Cu vix natum libris equidem, quo invenire tractatos eu, sit ex falli munere. Ex facer efficiantur vis, ut homero labitur facilisi duo, sed at clita iuvaret dolorem. Verterem perfecto maiestatis in sit, ad dicunt accumsan vel, vim corpora perpetua rationibus ex. Ei dicat adipiscing nam.
                        </div>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapse8">Collapsible Group Item #08
                            </a>
                        </h4>
                    </div>
                    <div id="collapse8" class="panel-collapse collapse">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, ea vis legendos atomorum. Cu vix natum libris equidem, quo invenire tractatos eu, sit ex falli munere. Ex facer efficiantur vis, ut homero labitur facilisi duo, sed at clita iuvaret dolorem. Verterem perfecto maiestatis in sit, ad dicunt accumsan vel, vim corpora perpetua rationibus ex. Ei dicat adipiscing nam.
                        </div>
                    </div>
                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapse9">Collapsible Group Item #09
                            </a>
                        </h4>
                    </div>
                    <div id="collapse9" class="panel-collapse collapse">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, ea vis legendos atomorum. Cu vix natum libris equidem, quo invenire tractatos eu, sit ex falli munere. Ex facer efficiantur vis, ut homero labitur facilisi duo, sed at clita iuvaret dolorem. Verterem perfecto maiestatis in sit, ad dicunt accumsan vel, vim corpora perpetua rationibus ex. Ei dicat adipiscing nam.
                        </div>
                    </div>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapse10">Collapsible Group Item #10
                            </a>
                        </h4>
                    </div>
                    <div id="collapse10" class="panel-collapse collapse">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, ea vis legendos atomorum. Cu vix natum libris equidem, quo invenire tractatos eu, sit ex falli munere. Ex facer efficiantur vis, ut homero labitur facilisi duo, sed at clita iuvaret dolorem. Verterem perfecto maiestatis in sit, ad dicunt accumsan vel, vim corpora perpetua rationibus ex. Ei dicat adipiscing nam.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.main -->
</section>
<!-- /#faqs-details -->
