@{
    Script.Include("styler.js");
}

<style type="text/css">
    #skin-chooser-wrap { height: auto; }
        #skin-chooser-wrap .list-inline { text-align: left; }
            #skin-chooser-wrap .list-inline li { border: none; padding: 5px; }
                #skin-chooser-wrap .list-inline li:first-child { padding-left: 5px; }
</style>

<div id="skin-chooser-wrap" class="skin-chooser-wrap hidden-xs">
    <span class="change-style">Change Styles</span>
    <span class="skin-chooser-toggle"><i class="fa fa-cog"></i></span>
    <ul class="list-inline">
        <li>
            <div id="color-skin-1" class="color-skin active"></div>
        </li>
        <li>
            <div id="color-skin-2" class="color-skin"></div>
        </li>
        <li>
            <div id="color-skin-3" class="color-skin"></div>
        </li>
        <li>
            <div id="color-skin-4" class="color-skin"></div>
        </li>
        <li>
            <div id="color-skin-5" class="color-skin"></div>
        </li>
        <li>
            <div id="color-skin-6" class="color-skin"></div>
        </li>
        <li>
            <div id="color-skin-7" class="color-skin"></div>
        </li>
        <li>
            <div id="color-skin-8" class="color-skin"></div>
        </li>
        <li>
            <div id="color-skin-9" class="color-skin"></div>
        </li>
        <li>
            <div id="color-skin-10" class="color-skin"></div>
        </li>
        <li>
            <div id="color-skin-11" class="color-skin"></div>
        </li>
        <li>
            <div id="color-skin-12" class="color-skin"></div>
        </li>
        <li>
            <div id="color-skin-13" class="color-skin"></div>
        </li>
        <li>
            <div id="color-skin-14" class="color-skin"></div>
        </li>
        <li>
            <div id="color-skin-15" class="color-skin"></div>
        </li>
        <li>
            <div id="color-skin-16" class="color-skin"></div>
        </li>
    </ul>
    <div class="checkbox">
        <label>
            <input type="checkbox" id="hovermenus" />
            Enable Hover Menus
        </label>
    </div>
</div>
